In [ ]:
import numpy as np

In [ ]:
def chance(numbers,hits):
  probability = 0
  for number in range(1,numbers):
    for hit in range(1,hits):
      prob = 1 / 70 + 1 - hit
      probability += prob


tab = np.zeros([12,11], dtype = int)

stawka = 2
multiplier = 'default'
multiplicator = 1000

tab[0,0] = 0
for i in range(10):
  tab[0,i+1] = 10 - i;

for i in range(11):
  tab[i + 1, 0] = 10 - i;

print('Analiza gry losowej Keno by B. Krassowski')
print()

while (multiplier not in ['tak','nie']):
    multiplier = input('Mnożnik (tak/nie): ')
    if multiplier not in ['tak','nie']:
      print('Wpisz tak/nie.')

if multiplier == 'tak':
    stawka = 4

print('Stawka: {}'.format(stawka))

tab[1,1] = 200000
tab[2,1] = 3000
tab[3,1] = 250
tab[4,1] = 32
tab[5,1] = 6
tab[6,1] = 2
tab[10,1] = 2
tab[11,1] = 6
tab[2,2] = 50000
tab[3,2] = 750
tab[4,2] = 100
tab[5,2] = 10
tab[6,2] = 4
tab[7,2] = 2
tab[11,2] = 2
tab[3,3] = 10000
tab[4,3] = 300
tab[5,3] = 44
tab[6,3] = 8
tab[7,3] = 2
tab[11,3] = 2
tab[4,4] = 1500
tab[5,4] = 66
tab[6,4] = 8
tab[7,4] = 4
tab[8,4] = 2
tab[5,5] = 500
tab[6,5] = 54
tab[7,5] = 6
tab[8,5] = 2
tab[6,6] = 250
tab[7,6] = 18
tab[8,6] = 4
tab[7,7] = 60
tab[8,7] = 4
tab[9,7] = 2
tab[8,8] = 18
tab[9,8] = 4
tab[9,9] = 14
tab[10,10] = 3

while (multiplicator not in range(1,10)):
    multiplicator = int(input('Stawka x (1-10): '))
    if multiplicator not in range(1,10):
      print('Podaj mnożnik stawki z zakresu 1-10')
stawka = stawka * multiplicator 
print('Stawka: {}'.format(stawka))

Mnożnik (tak/nie): tak
Stawka: 4
Stawka x (1-10): 5
Stawka: 20

In [ ]:
tab

array([[     0,     10,      9,      8,      7,      6,      5,      4,
             3,      2,      1],
       [    10, 200000,      0,      0,      0,      0,      0,      0,
             0,      0,      0],
       [     9,   3000,  50000,      0,      0,      0,      0,      0,
             0,      0,      0],
       [     8,    250,    750,  10000,      0,      0,      0,      0,
             0,      0,      0],
       [     7,     32,    100,    300,   1500,      0,      0,      0,
             0,      0,      0],
       [     6,      6,     10,     44,     66,    500,      0,      0,
             0,      0,      0],
       [     5,      2,      4,      8,      8,     54,    250,      0,
             0,      0,      0],
       [     4,      0,      2,      2,      4,      6,     18,     60,
             0,      0,      0],
       [     3,      0,      0,      0,      2,      2,      4,      4,
            18,      0,      0],
       [     2,      0,      0,      0,      0,      0,      0,      2,
             4,     14,      0],
       [     1,      2,      0,      0,      0,      0,      0,      0,
             0,      0,      3],
       [     0,      6,      2,      2,      0,      0,      0,      0,
             0,      0,      0]])

In [25]:
sum1 = 1
result = 1
for i in range(1,10):
  for j in range(1,i):
    result *= j
  sum1 *= result 
  result = 1
print(sum1)

5056584744960000

In [24]:
sum2 = 1
for i in range(1,70):
  sum2 *= i
print(sum2)

171122452428141311372468338881272839092270544893520369393648040923257279754140647424000000000000000

In [ ]:
sum