# Basic Functions

In [ ]:
#colon and indentations
def say_hello():
  print("Hello!")
  print("How are you going?")

say_hello()

Hello!
How are you going?

In [ ]:
def say_hello(name): #in parentheses varaible could could be named however
  print("Hello {}".format(name))

say_hello('Bartek') #if do not give any value in the parentheses - error

Hello Bartek

In [ ]:
#to avoid errors use:
def say_hello(name='Default'):
  print('Hello {}'.format(name))

say_hello()

Hello Default

In [ ]:
#return saves result as variable
def add_num(num1,num2):
  return num1 + num2

result = add_num(10,20)
result

30

Python is dynamically typed so no necessary to precise data type in function body

In [ ]:
def sum_nums(a,b):
  return a+b

sum_nums('10','20')

'1020'

In effect we gets concatenated strings

Tuple unpacking by function

In [7]:
#UNPACKING TUPLES
def best_employee(employees_hours):
  current_hours = 0
  current_employee = ''
  for hours,employee in employees_hours:
    if hours > current_hours:
      current_hours = hours
      current_employee = employee
    else:
      pass
  return (current_hours,current_employee)
  #returns unpacked tuple - possible to grab any element

In [8]:
employees_list = [(100,'Ann'),(200,'Barry'),(150,'Carla'),(250,'Dan'),(90,'Edward')]

In [9]:
best_employee(employees_list) #returns tuple

(250, 'Dan')

In [13]:
hours,name = best_employee(employees_list) #returns unpacked tuple

In [14]:
name #grabbing unpacked tuple element

'Dan'

===========THREE CUP MONTE============

In [25]:
from random import shuffle

def shuffle_list(to_shuffle):
  shuffle(to_shuffle)
  return to_shuffle

def guess_cup():
  guess = ''
  while guess not in ['0','1','2']:
    guess = input('Which cup hides the ball? Choose 0-1-2: ')
  return int(guess)

def check_guess(mylist,guess):
  if mylist[guess] == 'O':
    print('You won!')
  else:
    print('Wrong! You lose!')
    print(mylist)

#initial list
game_list = [' ','O',' ']
print(game_list)

#shuffle list
game_list_shuffled = shuffle_list(game_list)
print("Cups have been shuffled!")

#player's guess
guess = guess_cup()

#compares guess with correct cup
check_guess(game_list_shuffled,guess)

[' ', 'O', ' ']
Cups have been shuffled!
Which cup hides the ball? Choose 0-1-2: 0
Wrong! You lose!
[' ', 'O', ' ']

# * args & **kwargs

*   *args lets us to give arbitary number of arguments in function call and treats them as the tuple
*   **kwargs lets us to give arbitary number of keywords and generates a dict

In [26]:
#example of *args using
def my_func(*args):
  return sum((args))

In [27]:
my_func(1,2,3,4,5,6,7,8,9)

45

In [28]:
my_func(5,10,15,20,25,30,35)

140

In [29]:
#shows that returns a tuple
def my_func(*args):
  print(args)

In [30]:
my_func(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [34]:
#example of **kwargs using
def my_func(**kwargs):
  print(kwargs)
  if 'name' in kwargs:
    print('Hello {}'.format(kwargs['name']))
  else:
    print('I dont know your name!')

In [35]:
#shows that **kwargs returns dict 
my_func(name='Bartosz',surname='Krass',birthplace='Gdansk')

{'name': 'Bartosz', 'surname': 'Krass', 'birthplace': 'Gdansk'}
Hello Bartosz

In [37]:
#combining *args and **kwargs
def my_func(*args,**kwargs):
  print(args)
  print(kwargs)
  print('I would like to buy {} {}'.format(args[0],kwargs['shopping']))

In [45]:
my_func(10,20,30,name='Bartek',shop='GigaMarket',shopping='breads')

(10, 20, 30)
{'name': 'Bartek', 'shop': 'GigaMarket', 'shopping': 'breads'}
I would like to buy 10 breads

In [65]:
def myfunc(word):
  out = []
  for index,letter in enumerate(word):
    if index % 2 == 0:
      out.append(letter.upper())
    else:
      out.append(letter.lower())
  return ''.join(out)

In [66]:
myfunc('Bartek')

'BaRtEk'