# 1. Collections
That module allow us ot use specialized data types

In [1]:
#counter class
from collections import Counter
mylist = [1,2,1,1,1,1,2,2,2,2,3,3,3,3,3,2,2,2,2,2,1,1,1,1,2,2]
Counter(mylist)

Counter({1: 9, 2: 12, 3: 5})

In [2]:
string = 'bartekkras'
Counter(string)

Counter({'a': 2, 'b': 1, 'e': 1, 'k': 2, 'r': 2, 's': 1, 't': 1})

In [4]:
text = "Hello, my name is Bartek and I have already started learning Python. I am excited to use Python!"
c = Counter(text.split())

In [5]:
c

Counter({'Bartek': 1,
         'Hello,': 1,
         'I': 2,
         'Python!': 1,
         'Python.': 1,
         'already': 1,
         'am': 1,
         'and': 1,
         'excited': 1,
         'have': 1,
         'is': 1,
         'learning': 1,
         'my': 1,
         'name': 1,
         'started': 1,
         'to': 1,
         'use': 1})

In [8]:
#sorts keys starting from the most popular
c.most_common()
c.most_common(3)

[('I', 2), ('Hello,', 1), ('my', 1)]

In [7]:
 c.values()

dict_values([1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [9]:
#creating the list of dictionary keys
list(c)

['Hello,',
 'my',
 'name',
 'is',
 'Bartek',
 'and',
 'I',
 'have',
 'already',
 'started',
 'learning',
 'Python.',
 'am',
 'excited',
 'to',
 'use',
 'Python!']

In [11]:
from collections import defaultdict

In [12]:
d = {'a':10}
d

{'a': 10}

In [13]:
d['a']

10

In [14]:
d['WRONG']

KeyError: ignored

In [15]:
d = defaultdict(lambda:0)

In [16]:
d['correct'] = 100 #assigns value to non existing key

In [17]:
d['correct']

100

In [21]:
d['WRONG KEY!!!'] #assigns defaut value to non existing key

0

In [23]:
#useful when we have a very big list or we do not remember index of value that we are interested in
from collections import namedtuple

In [25]:
Dog = namedtuple('Dog',['age','bread','name'])

In [26]:
sammy = Dog(5,'husky','Sam')

In [27]:
sammy

Dog(age=5, bread='husky', name='Sam')

In [28]:
sammy.age

5

In [29]:
sammy[0]

5

# Datatime module

In [1]:
import datetime

In [ ]:
mytime = datetime.time.now() #fills parenthases automatically with zeros

In [6]:
print(mytime)

02:45:00

In [7]:
#also possible to add microseconds by filling the () in datetime.time
mytime = datetime.time(2,45,30,500)

In [8]:
print(mytime)

02:45:30.000500

In [9]:
today = datetime.date.today()

In [10]:
print(today)

2022-05-17

In [12]:
today.year

2022

In [13]:
today.month

5

In [14]:
today.day

17

In [15]:
today.ctime() #time not specified

'Tue May 17 00:00:00 2022'

In [16]:
from datetime import datetime

In [18]:
mydatetime = datetime(2022,5,17,22,48,30)

In [19]:
print(mydatetime)

2022-05-17 22:48:30

In [21]:
mydatetime = mydatetime.replace(year=mydatetime.year+1)

In [22]:
print(mydatetime) #one year added and the date has been updated

2023-05-17 22:48:30

In [26]:
date1 = datetime(2023,11,4,12,30,50)
date2 = datetime(2022,6,5, 5,40,50)

In [32]:
date1 - date2 #simple arithmetic with date objects

datetime.timedelta(days=517, seconds=24600)

In [30]:
result = date1 - date2

In [31]:
print(result)

517 days, 6:50:00