In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [ ]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a': 10, 'b': 20, 'c': 30}

In [ ]:
ser1 = pd.Series(my_data, labels)
ser1

a    10
b    20
c    30
dtype: int64

In [ ]:
ser2 = pd.Series(labels, arr)
ser2

10    a
20    b
30    c
dtype: object

In [ ]:
ser3 = pd.Series(d)
ser3

a    10
b    20
c    30
dtype: int64

#Data frames

In [ ]:
np.random.seed(101)

In [ ]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [ ]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [ ]:
type(df['W'])

pandas.core.series.Series

In [ ]:
df[['W', 'Z']]

          W         Z
A -0.993263  0.000366
B  1.025984  0.649826
C  2.154846 -0.346419
D  0.147027  1.024810
E -0.925874  0.610478

In [ ]:
df['new'] = df['X'] + df['Y']
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.939845
B  1.025984 -0.156598 -0.031579  0.649826 -0.188177
C  2.154846 -0.610259 -0.755325 -0.346419 -1.365584
D  0.147027 -0.479448  0.558769  1.024810  0.079321
E -0.925874  1.862864 -1.133817  0.610478  0.729047

In [ ]:
df.drop('Y', axis=1) #does not affect in place (do not overwrite df) - add inplace=True to affect df

          W         X         Z       new
A -0.993263  0.196800  0.000366 -0.939845
B  1.025984 -0.156598  0.649826 -0.188177
C  2.154846 -0.610259 -0.346419 -1.365584
D  0.147027 -0.479448  1.024810  0.079321
E -0.925874  1.862864  0.610478  0.729047

In [ ]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.939845
B  1.025984 -0.156598 -0.031579  0.649826 -0.188177
C  2.154846 -0.610259 -0.755325 -0.346419 -1.365584
D  0.147027 -0.479448  0.558769  1.024810  0.079321
E -0.925874  1.862864 -1.133817  0.610478  0.729047

In [ ]:
df.drop('Y', axis=1, inplace=True)

In [ ]:
df

          W         X         Z       new
A -0.993263  0.196800  0.000366 -0.939845
B  1.025984 -0.156598  0.649826 -0.188177
C  2.154846 -0.610259 -0.346419 -1.365584
D  0.147027 -0.479448  1.024810  0.079321
E -0.925874  1.862864  0.610478  0.729047

In [ ]:
Selecting columns

In [ ]:
df['X']

A    0.196800
B   -0.156598
C   -0.610259
D   -0.479448
E    1.862864
Name: X, dtype: float64

In [ ]:
df[['X', 'Z']]

          X         Z
A  0.196800  0.000366
B -0.156598  0.649826
C -0.610259 -0.346419
D -0.479448  1.024810
E  1.862864  0.610478

Selecting rows

In [ ]:
df.loc['C'] #select is a series

W      2.154846
X     -0.610259
Z     -0.346419
new   -1.365584
Name: C, dtype: float64

In [ ]:
df.loc[['C', 'D']]

          W         X         Z       new
C  2.154846 -0.610259 -0.346419 -1.365584
D  0.147027 -0.479448  1.024810  0.079321

In [ ]:
df.loc[['C', 'D'], ['X', 'new']]

          X       new
C -0.610259 -1.365584
D -0.479448  0.079321

In [ ]:
df = pd.DataFrame(randn(5,3))
df

          0         1         2
0  0.412580  0.988773  0.513833
1 -0.928205  0.846904 -0.298436
2  0.029141  0.889031 -1.839261
3  0.863596 -1.076591 -0.580383
4  1.209027  1.201744 -0.820463

In [ ]:
df['new'] = randn(5)
df

          0         1         2       new
0  0.412580  0.988773  0.513833 -1.029577
1 -0.928205  0.846904 -0.298436 -1.524856
2  0.029141  0.889031 -1.839261 -0.854860
3  0.863596 -1.076591 -0.580383  1.602816
4  1.209027  1.201744 -0.820463  0.185479

In [ ]:
len(df)

5

In [ ]:
df['very_new'] = randn(len(df))
df

          0         1         2       new  very_new
0  0.412580  0.988773  0.513833 -1.029577 -0.994018
1 -0.928205  0.846904 -0.298436 -1.524856 -0.131906
2  0.029141  0.889031 -1.839261 -0.854860 -1.335092
3  0.863596 -1.076591 -0.580383  1.602816 -0.089298
4  1.209027  1.201744 -0.820463  0.185479  0.698566