#If, elif  & else statements

In [1]:
weather = 'rain'

if weather == 'sun': #colon at the end
  print("What a beautiful weather!") #indentation required
elif weather == 'cold': #one more collon
  print("Why is it so cold?") #indentation required
else: #here also a colon
  print("That's a crazy weather!") #indentation required

That's a crazy weather!

# For statement

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
  if num % 2 == 0:
    print(num)
  else:
    print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [3]:
sum = 0

for num in my_list:
  sum += num
print(sum)

55

In [4]:
my_string = 'Good morning World!' #not necessary to assign string to variable

for letter in my_string:
#for letter in 'Good morning World!' works identically
  print(letter)

G
o
o
d

m
o
r
n
i
n
g

W
o
r
l
d
!

In [5]:
#if do not use variable in the loop use _ as a itterator

for _ in my_list: #prints hello as many times as elements in list
  print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

Tuples and dictionaries unpacking

In [6]:
#tuples unpacking
list1 = [(1,2,3),(6,7,8),(6,5,4),(7,4,1)]

for item in list1: #that structure prints a tuple as a single list element
  print(item)

(1, 2, 3)
(6, 7, 8)
(6, 5, 4)
(7, 4, 1)

In [7]:
for a,b,c in list1: #that one lets us to grab single tuple element
  print(a)
  print(b)
  print(c)

1
2
3
6
7
8
6
5
4
7
4
1

In [8]:
d = {'k1':3,'k2':2,'k3':1}

for item in d: #by default for loot itterate by keys
  print(item)

k1
k2
k3

In [9]:
for item in d.items(): #use .items to itterate both keys and values
  print(item)

('k1', 3)
('k2', 2)
('k3', 1)

In [10]:
for item in d.values(): #use .values to itterate by values 
  print(item)

3
2
1

In [11]:
for key,value in d.items(): #also possible to treat dict as a list
  print(value)

3
2
1

# While statememnt

In [12]:
x = 2

while x < 50: #standard while loop
  print(f'X value equals {x}')
  x = x ** 2
else:
  print('X is greater than 50')

X value equals 2
X value equals 4
X value equals 16
X is greater than 50

Pass, continue and break keywords:


*   Pass does nothing
*   Continue goes to the top of the closest enclosing loop
*   Break ends the closest enclosing loop

In [13]:
#pass in practice we use when creating empty loop
list1 = [1,2,3]

#it would not work cause the loop is empty
#for item in list1:
  #blablabla

#whereas it works
for item in list1:
  #blablabla
  pass

In [14]:
list1 = [1,2,3]

for item in list1:
  if item == 2:
    continue #skips to the very beginning of the closest enslocing loop
  print(item)

1
3

In [16]:
for item in list1:
  if item == 2:
    break #kills the loop
  print(item)

1

# Useful operators

Generator

In [17]:
for number in range(10): 
  print(number)

0
1
2
3
4
5
6
7
8
9

In [18]:
for number in range(0,50,5): #structure in parenthesis is similar to slicing
  print(number)

0
5
10
15
20
25
30
35
40
45

Enumerate

In [19]:
#naive way of indexing itterators
word = 'Wielkanoc'
index = 0

for letter in word:
  print('No. {} is {}'.format(index,letter))
  index += 1

No. 0 is W
No. 1 is i
No. 2 is e
No. 3 is l
No. 4 is k
No. 5 is a
No. 6 is n
No. 7 is o
No. 8 is c

In [20]:
#easier to use enumerate function
word = 'Koczkodan'

for letter in enumerate(word):
  print(letter)
#enumerate produces the tuple

(0, 'K')
(1, 'o')
(2, 'c')
(3, 'z')
(4, 'k')
(5, 'o')
(6, 'd')
(7, 'a')
(8, 'n')

In [21]:
#possible to use tuples unpacking
for index,letter in enumerate(word):
  print(index,letter)

0 K
1 o
2 c
3 z
4 k
5 o
6 d
7 a
8 n

Zip

In [22]:
#zip lets to glue lists
list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]
list3 = ['a', 'b', 'c']

for item in zip(list1,list2,list3):
  print(item)

(1, 5, 'a')
(2, 4, 'b')
(3, 3, 'c')

In [23]:
#product of zip function is a tuple (possible to unpack)
#IMPORTANT! zip glues as many elements as in the shortest list are
#above did not show 4,5 and 2,1 cause list3 is 3-elements

list(zip(list1,list2,list3))

[(1, 5, 'a'), (2, 4, 'b'), (3, 3, 'c')]

IN

In [25]:
#if x is included
'x' in ['x', 'y','z']

True

In [26]:
9 in [1,2,3,4,5]

False

In [27]:
'a' in 'Hello world!'

False

In [29]:
'key1' in {'key1':2,'key2':1}

True

In [33]:
d = {'key1':2,'key2':1}
1 in d.values()

True

In [35]:
d = {'key1':2,'key2':1}
'key3' in d.keys()

False

int(), float(), ...

In [37]:
#let change the type of a value
result = input('What is your favorite number? ')

What is your favorite number? 54

In [38]:
type(result) #input is always a string

str

In [40]:
type(int(result)) #int() transformed string into int

int