#If, elif  & else statements

In [6]:
weather = 'rain'

if weather == 'sun': #colon at the end
  print("What a beautiful weather!") #indentation required
elif weather == 'cold': #one more collon
  print("Why is it so cold?") #indentation required
else: #here also a colon
  print("That's a crazy weather!") #indentation required

That's crazy weather!

# For statement

In [1]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
  if num % 2 == 0:
    print(num)
  else:
    print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [3]:
sum = 0

for num in my_list:
  sum += num
print(sum)

55

In [4]:
my_string = 'Good morning World!' #not necessary to assign string to variable

for letter in my_string:
#for letter in 'Good morning World!' works identically
  print(letter)

G
o
o
d

m
o
r
n
i
n
g

W
o
r
l
d
!

In [5]:
#if do not use variable in the loop use _ as a itterator

for _ in my_list: #prints hello as many times as elements in list
  print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

Tuples and dictionaries unpacking

In [6]:
#tuples unpacking
list = [(1,2,3),(6,7,8),(6,5,4),(7,4,1)]

for item in list: #that structure prints a tuple as a single list element
  print(item)

(1, 2, 3)
(6, 7, 8)
(6, 5, 4)
(7, 4, 1)

In [7]:
for a,b,c in list: #that one lets us to grab single tuple element
  print(a)
  print(b)
  print(c)

1
2
3
6
7
8
6
5
4
7
4
1

In [10]:
d = {'k1':3,'k2':2,'k3':1}

for item in d: #by default for loot itterate by keys
  print(item)

k1
k2
k3

In [14]:
for item in d.items(): #use .items to itterate both keys and values
  print(item)

('k1', 3)
('k2', 2)
('k3', 1)

In [15]:
for item in d.values(): #use .values to itterate by values 
  print(item)

3
2
1

In [17]:
for key,value in d.items(): #also possible to treat dict as a list
  print(value)

3
2
1

# While statememnt

In [20]:
x = 2

while x < 50: #standard while loop
  print(f'X value equals {x}')
  x = x ** 2
else:
  print('X is greater than 50')

X value equals 2
X value equals 4
X value equals 16
X is greater than 50

Pass, continue and break keywords:


*   Pass does nothing
*   Continue goes to the top of the closest enclosing loop
*   Break ends the closest enclosing loop

In [ ]:
#pass in practice we use when creating empty loop
list = [1,2,3]

#it would not work cause the loop is empty
for item in list:
  #blablabla

#whereas it works
for item in list:
  #blablabla
  pass

In [24]:
list = [1,2,3]

for item in list:
  if item == 2:
    continue #skips to the very beginning of the closest enslocing loop
  print(item)

1
3

In [25]:
for item in list:
  if item == 2:
    break #kills the loop
  print(item)

1