#If, elif  & else statements

In [ ]:
weather = 'rain'

if weather == 'sun': #colon at the end
  print("What a beautiful weather!") #indentation required
elif weather == 'cold': #one more collon
  print("Why is it so cold?") #indentation required
else: #here also a colon
  print("That's a crazy weather!") #indentation required

That's a crazy weather!

# For statement

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for num in my_list:
  if num % 2 == 0:
    print(num)
  else:
    print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [ ]:
sum = 0

for num in my_list:
  sum += num
print(sum)

55

In [ ]:
my_string = 'Good morning World!' #not necessary to assign string to variable

for letter in my_string:
#for letter in 'Good morning World!' works identically
  print(letter)

G
o
o
d

m
o
r
n
i
n
g

W
o
r
l
d
!

In [ ]:
#if do not use variable in the loop use _ as a itterator

for _ in my_list: #prints hello as many times as elements in list
  print('Hello!')

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

Tuples and dictionaries unpacking

In [ ]:
#tuples unpacking
list1 = [(1,2,3),(6,7,8),(6,5,4),(7,4,1)]

for item in list1: #that structure prints a tuple as a single list element
  print(item)

(1, 2, 3)
(6, 7, 8)
(6, 5, 4)
(7, 4, 1)

In [ ]:
for a,b,c in list1: #that one lets us to grab single tuple element
  print(a)
  print(b)
  print(c)

1
2
3
6
7
8
6
5
4
7
4
1

In [ ]:
d = {'k1':3,'k2':2,'k3':1}

for item in d: #by default for loot itterate by keys
  print(item)

k1
k2
k3

In [ ]:
for item in d.items(): #use .items to itterate both keys and values
  print(item)

('k1', 3)
('k2', 2)
('k3', 1)

In [ ]:
for item in d.values(): #use .values to itterate by values 
  print(item)

3
2
1

In [ ]:
for key,value in d.items(): #also possible to treat dict as a list
  print(value)

3
2
1

# While statememnt

In [ ]:
x = 2

while x < 50: #standard while loop
  print(f'X value equals {x}')
  x = x ** 2
else:
  print('X is greater than 50')

X value equals 2
X value equals 4
X value equals 16
X is greater than 50

Pass, continue and break keywords:


*   Pass does nothing
*   Continue goes to the top of the closest enclosing loop
*   Break ends the closest enclosing loop

In [ ]:
#pass in practice we use when creating empty loop
list1 = [1,2,3]

#it would not work cause the loop is empty
#for item in list1:
  #blablabla

#whereas it works
for item in list1:
  #blablabla
  pass

In [ ]:
list1 = [1,2,3]

for item in list1:
  if item == 2:
    continue #skips to the very beginning of the closest enslocing loop
  print(item)

1
3

In [ ]:
for item in list1:
  if item == 2:
    break #kills the loop
  print(item)

1

# Useful operators

Generator

In [ ]:
for number in range(10): 
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for number in range(0,50,5): #structure in parenthesis is similar to slicing
  print(number)

0
5
10
15
20
25
30
35
40
45

Enumerate

In [ ]:
#naive way of indexing itterators
word = 'Wielkanoc'
index = 0

for letter in word:
  print('No. {} is {}'.format(index,letter))
  index += 1

No. 0 is W
No. 1 is i
No. 2 is e
No. 3 is l
No. 4 is k
No. 5 is a
No. 6 is n
No. 7 is o
No. 8 is c

In [ ]:
#easier to use enumerate function
word = 'Koczkodan'

for letter in enumerate(word):
  print(letter)
#enumerate produces the tuple

(0, 'K')
(1, 'o')
(2, 'c')
(3, 'z')
(4, 'k')
(5, 'o')
(6, 'd')
(7, 'a')
(8, 'n')

In [ ]:
#possible to use tuples unpacking
for index,letter in enumerate(word):
  print(index,letter)

0 K
1 o
2 c
3 z
4 k
5 o
6 d
7 a
8 n

Zip

In [ ]:
#zip lets to glue lists
list1 = [1,2,3,4,5]
list2 = [5,4,3,2,1]
list3 = ['a', 'b', 'c']

for item in zip(list1,list2,list3):
  print(item)

(1, 5, 'a')
(2, 4, 'b')
(3, 3, 'c')

In [ ]:
#product of zip function is a tuple (possible to unpack)
#IMPORTANT! zip glues as many elements as in the shortest list are
#above did not show 4,5 and 2,1 cause list3 is 3-elements

list(zip(list1,list2,list3))

[(1, 5, 'a'), (2, 4, 'b'), (3, 3, 'c')]

IN

In [ ]:
#if x is included
'x' in ['x', 'y','z']

True

In [ ]:
9 in [1,2,3,4,5]

False

In [ ]:
'a' in 'Hello world!'

False

In [ ]:
'key1' in {'key1':2,'key2':1}

True

In [ ]:
d = {'key1':2,'key2':1} 
1 in d.values()

True

In [ ]:
d = {'key1':2,'key2':1}
'key3' in d.keys()

False

int(), float(), ...

In [1]:
#let change the type of a value
result = input('What is your favorite number? ')

KeyboardInterrupt: ignored

In [ ]:
type(result) #input is always a string

str

In [ ]:
type(int(result)) #int() transformed string into int

int

# Comprehensions

In [4]:
#that is not the good programming method at all
word1 = 'python'
list1 = []

for letter in word1:
  list1.append(letter)

list1

['p', 'y', 't', 'h', 'o', 'n']

In [9]:
#Iit looks much more professional
list1 = [sign for sign in 'programming']
list1

['p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g']

In [15]:
#possible to do math operations inside the square brackets ex:
list2 = [num**3 for num in range(1,11)]
list2

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [23]:
list3 = [num for num in range(1,1000)  if num%83==0]
list3

[83, 166, 249, 332, 415, 498, 581, 664, 747, 830, 913, 996]

In [28]:
fah = [ (9/5 * temp + 32 ) for temp in range(0,11)]
fah

[32.0, 33.8, 35.6, 37.4, 39.2, 41.0, 42.8, 44.6, 46.4, 48.2, 50.0]

In [36]:
#also possible to nest else if statement inside but in cost of readibility
list4 = [num if num%2==0 else 'ODD' for num in range(1,11)]
list4

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [38]:
#the same with nesting for loops
list5 = [x*y for x in range(1,4) for y in range(1,4)]
list5

[1, 2, 3, 2, 4, 6, 3, 6, 9]