In [ ]:
! pip install -q kaggle

In [ ]:
! mkdir ~/.kaggle 
! cp kaggle.json ~/.kaggle/ 
! chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
import numpy as np
import pandas as pd
import kaggle
import matplotlib
from matplotlib import pyplot as plt

In [ ]:
! kaggle competitions download -c titanic
! mkdir titanic
! unzip titanic.zip -d titanic

test_df = pd.read_csv('titanic/test.csv')
train_df = pd.read_csv('titanic/train.csv')

Downloading titanic.zip to /content
  0% 0.00/34.1k [00:00<?, ?B/s]
100% 34.1k/34.1k [00:00<00:00, 28.6MB/s]
Archive:  titanic.zip
  inflating: titanic/gender_submission.csv
  inflating: titanic/test.csv
  inflating: titanic/train.csv

In [ ]:
print('Training dataset:')
train_df.head(3)

Training dataset:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [ ]:
print('Test dataset:')
test_df.head(3)

Test dataset:

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [ ]:
print(train_df.groupby(['Pclass'])['Pclass'].count())
print(train_df.groupby(['Sex'])['Sex'].count())
print('(C - Cherbourg, Q - Queenstown, S - Southampton): \n{}'.format(train_df.groupby(['Embarked'])['Embarked'].count()))

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64
Sex
female    314
male      577
Name: Sex, dtype: int64
(C - Cherbourg, Q - Queenstown, S - Southampton):
Embarked
C    168
Q     77
S    644
Name: Embarked, dtype: int64

In [ ]:
def bar_plot(x, y, x_label, y_label, title):  
  fig = plt.figure(figsize = (15, 8))
  plt.rcParams['font.size'] = 12
  plt.bar(x, y, color ='#838EBE', width = 0.6)
  plt.xlabel(x_label, fontsize=16)
  plt.ylabel(y_label, fontsize=16)
  plt.title(title, fontsize=20)
  plt.show()

In [ ]:
bar_plot(list(train_df.groupby(['Pclass'])).index, list(train_df.groupby(['Pclass'])).values, 'economic_status', 'count', 'Class counts')

AttributeError: ignored

In [ ]:
x = pd.DataFrame(train_df.groupby(['Pclass'])['Pclass'].count())

In [ ]:
x

        Pclass
Pclass
1          216
2          184
3          491

In [ ]:
x.index()

TypeError: ignored